<!-- About -->
<div id="about" class="section md-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Descubre nuestros servicios</h2>
      </div>
      <!-- /Section header -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-cut"></i>
          <h3>Crea tu marca</h3>
          <p>
            Desarrolla una identidad única para tu bodega y destaca en el
            mercado vinícola.
          </p>
          <a href="#inicio-sesion">Ver más</a>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-glass"></i>
          <h3>Registra Vinos</h3>
          <p>
            Administra fácilmente tu inventario de vinos y mantén un registro
            detallado de cada botella.
          </p>
          <a href="#inicio-sesion">Ver más</a>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-edit"></i>
          <h3>Realiza Cambios</h3>
          <p>
            Actualiza la información de tus productos y realiza modificaciones
            según las necesidades del mercado.
          </p>
          <a href="#inicio-sesion">Ver más</a>
        </div>
      </div>
      <!-- /about -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /About -->

<!-- Inicio de Sesión -->
<div id="inicio-sesion" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- why choose us content -->
      <div class="col-md-6">
        <div class="section-header">
          <h2 class="title">Iniciar Sesión</h2>
        </div>
        <!-- contact form -->
        <div class="col-md-8 col-md-offset-1">
          <form
            class="contact-form formulario"
            action="/ingresar"
            method="POST"
          >
            <div class="form-group">
              <input type="email" name="correo" placeholder="Usuario" />
            </div>
            <div class="form-group">
              <input type="password" name="clave" placeholder="Contraseña" />
            </div>
            <button class="main-btn" type="submit">Ingresar</button>
            <p>
              ¿Aún no tienes cuenta?
              <span><a href="#registro">Regístrate Aquí</a></span>
            </p>
          </form>
        </div>
        <!-- /contact form -->
      </div>
      <!-- /why choose us content -->

      <!-- About slider -->
      <div class="col-md-6">
        <div id="about-slider" class="owl-carousel owl-theme">
          <img
            class="img-responsive"
            src="https://img.freepik.com/foto-gratis/gente-disfrutando-copa-vino-vinedo-impresionante-paisaje-natural_23-2151514964.jpg"
            alt=""
          />
          <img
            class="img-responsive"
            src="https://media.istockphoto.com/id/1432122645/es/foto/enfoque-selectivo-en-una-selecci%C3%B3n-de-vinos-tintos-rosados-y-blancos-durante-un-evento-de-cata.jpg?s=612x612&w=0&k=20&c=cPZO8LdTxT8MesvZou9xWl5sdfg6EbjyqsBT2EmCuyI="
            alt=""
          />
          <img
            class="img-responsive"
            src="https://img.freepik.com/fotos-premium/hombre-maduro-feliz-demostrando-botella-vino-mientras-colega-joven-amable-tocando-barril-fondo_317809-2958.jpg"
            alt=""
          />
          <img
            class="img-responsive"
            src="https://img.freepik.com/fotos-premium/hombre-mediana-edad-degustando-vino-rojo-vina-luz-atardecer_908344-5892.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1720396800&semt=ais_user"
            alt=""
          />
        </div>
      </div>
      <!-- /About slider -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Inicio de Sesión -->

<!-- Registro -->
<div id="registro" class="section md-padding">
  <!-- Background Image -->
  <div
    class="bg-img"
    style="
      background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/E8EAEZ4/wine-glasses-on-a-wooden-table-at-a-restaurant-1080p-hd_n1qo29vy__F0000.png');
    "
  >
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="section-header">
        <h3 class="white-text text-center">Formulario de Registro</h3>
        <p class="text-center">
          Para brindarte la mejor experiencia de compra y mantenerte informado
          sobre ofertas exclusivas, te invitamos a crear una cuenta. Registrarse
          es rápido y fácil. Haz clic en "Registrarse" y completa unos
          pocos pasos. <br />
          ¡Disfruta de una navegación más rápida, guarda tus productos favoritos
          y recibe actualizaciones personalizadas!
        </p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-8 col-md-offset-2">
          <form
            class="contact-form formulario"
            action="/registro"
            method="POST"
          >
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="input"
                  name="nombre"
                  placeholder="Nombre"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="input"
                  name="apellido"
                  placeholder="Apellido"
                />
              </div>
            </div>
            <div class="form-group col-md-12">
              <input
                type="text"
                class="input"
                name="cedula"
                placeholder="Cédula"
              />
            </div>
            <div class="form-group col-md-12">
              <input
                type="tel"
                class="input"
                name="telefono"
                placeholder="Celular/Teléfono"
              />
            </div>
            <div class="form-group col-md-12">
              <input
                type="email"
                class="input"
                name="correo"
                placeholder="Correo"
              />
            </div>
            <div class="form-group col-md-12">
              <input
                type="text"
                class="input"
                name="direccion"
                placeholder="Dirección"
              />
            </div>
            <button class="main-btn" type="submit">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Registro -->
