<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title><%=titulo%></title>

        <!--Favicon-->
        <link rel="icon" href="https://www.freeiconspng.com/uploads/wine-glass-png-25.png" sizes="16x16"/>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

        <!-- Owl Carousel -->
        <link type="text/css" rel="stylesheet" href="/stylesheets/owl.carousel.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheets/owl.theme.default.css" />

        <!-- Magnific Popup -->
        <link type="text/css" rel="stylesheet" href="/stylesheets/magnific-popup.css" />

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

        <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/javascripts/utilidades.js"></script>
    </head>

    <body>
        <!-- Header -->
        <header id="home">

            <!-- Background Image -->
            <div class="bg-img" style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/P5qzYfp/red-wine-pour-from-bottle-hd_ekjeklwn__F0005.png');">
                <div class="overlay"></div>
            </div>
            <!-- /Background Image -->

            <!-- Nav -->
            <nav id="nav" class="navbar nav-transparent">
                <div class="container">

                    <div class="navbar-header">
                        <!-- Logo -->
                        <div class="navbar-brand">
                            <a href="/">
                                <img class="logo" src="/images/Logo-White.png" alt="Santos Licores">
                                <img class="logo-alt" src="/images/Logo-White.png" alt="Santos Licores">
                            </a>
                        </div>
                        <!-- /Logo -->

                        <!-- Collapse nav button -->
                        <div class="nav-collapse">
                            <span></span>
                        </div>
                        <!-- /Collapse nav button -->
                    </div>

                    <!--  Main navigation  -->
                    <ul class="main-nav nav navbar-nav navbar-right">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/registro">Registro</a></li>
                    </ul>
                    <!-- /Main navigation -->

                </div>
            </nav>
            <!-- /Nav -->

            <!-- home wrapper -->
            <div class="home-wrapper">
                <div class="container">
                    <div class="row">

                        <!-- home content -->
                        <div class="col-md-10 col-md-offset-1">
                            <div class="home-content">
                                <h1 class="white-text"><%=titulo%></h1>
                                <p class="white-text">Los mejores productos.</p>
                            </div>
                        </div>
                        <!-- /home content -->

                    </div>
                </div>
            </div>
            <!-- /home wrapper -->

        </header>
        <!-- /Header -->

        <!--Contenido-->

        <div class="section md-padding bg-grey">

            <!-- Container -->
            <div class="container">

                <!-- Row -->
                <div class="row">

                    <!-- why choose us content -->
                    <div class="col-md-6">
                        <div class="section-header">
                            <h2 class="title">Iniciar Sesión</h2>
                        </div>
                        <!-- contact form -->

                        <% if(locals.flash){ %>
                        <div class="alert alert-info">
                            <span><%- locals.flash %></span>
                        </div>
                        <% } %>
                        <div class="col-md-8 col-md-offset-1">
                            <form class="contact-form formulario" action="/ingresar" method="POST">
                                <div class="form-group">
                                    <input type="email" name="correo" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="clave" placeholder="Contraseña">
                                </div>
                                <button class="main-btn" type="submit">Ingresar</button>
                                <p>¿Aún no tienes cuenta? <span><a href="/registro">Regístrate Aquí</a></span></p>
                            </form>
                        </div>
                        <!-- /contact form -->
                    </div>
                    <!-- /why choose us content -->

                    <!-- About slider -->
                    <div class="col-md-6">
                        <div id="about-slider" class="owl-carousel owl-theme">
                            <img class="img-responsive" src="https://img.freepik.com/foto-gratis/gente-disfrutando-copa-vino-vinedo-impresionante-paisaje-natural_23-2151514964.jpg" alt="">
                            <img class="img-responsive" src="https://media.istockphoto.com/id/1432122645/es/foto/enfoque-selectivo-en-una-selecci%C3%B3n-de-vinos-tintos-rosados-y-blancos-durante-un-evento-de-cata.jpg?s=612x612&w=0&k=20&c=cPZO8LdTxT8MesvZou9xWl5sdfg6EbjyqsBT2EmCuyI=" alt="">
                            <img class="img-responsive" src="https://img.freepik.com/fotos-premium/hombre-maduro-feliz-demostrando-botella-vino-mientras-colega-joven-amable-tocando-barril-fondo_317809-2958.jpg" alt="">
                            <img class="img-responsive" src="https://img.freepik.com/fotos-premium/hombre-mediana-edad-degustando-vino-rojo-vina-luz-atardecer_908344-5892.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1720396800&semt=ais_user" alt="">
                        </div>
                    </div>
                    <!-- /About slider -->

                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

        </div>  
        <!--/Contenido-->

        <!-- Footer -->
        <footer id="footer" class="sm-padding bg-dark">

            <!-- Container -->
            <div class="container">

                <!-- Row -->
                <div class="row">

                    <div class="col-md-12">

                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a href="/"><img src="/images/Logo-White.png" alt="Santos Licores"></a>
                        </div>
                        <!-- /footer logo -->

                        <!-- footer follow -->
                        <ul class="footer-follow">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <!-- /footer follow -->

                        <!-- footer copyright -->
                        <div class="footer-copyright">
                            <p>Copyright © 2024. All Rights Reserved.</p>
                        </div>
                        <!-- /footer copyright -->

                    </div>

                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

        </footer>
        <!-- /Footer -->

        <!-- Back to top -->
        <div id="back-to-top"></div>
        <!-- /Back to top -->

        <!-- Preloader -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- /Preloader -->

        <!-- jQuery Plugins -->
        <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>

    </body>

</html>